.input-custom-search {
    border-radius: 30px;
    width: 600px;
    height: 45px;
    padding-left: 42px;
    background: url("loupe.jpg");
    background-position: 4px 12px;
    background-repeat: no-repeat;
    background-size: 28px;
}

.btn-custom {
    width: 200px;
}

.container-custom {
    width: 50%;
    margin-left: 25px;
}

.container-search {
    margin-right: 0px;
    margin-top: 10px;
}